<form {{on 'submit' this.saveLocation}} ...attributes>
  <label for='user-question'>{{@title}}</label>
  <Input
    id='user-question'
    @type='text'
    @value={{this.zipcode}}
    placeholder='zipcode'
    class='dark:bg-slate-600'
  />
  <button class='px-2 bg-orange-600' type='submit'>Go</button>
</form>