<button
  {{on 'click' @onClick}}
  class='p-3 bg-white hover:bg-green-lighter text-center min-h-24 border-4
    {{if @active "border-green-light" "border-transparent"}}'
  type='button'
>
  {{yield}}
</button>