<h1 class='text-3xl'>When to
  <LinkTo
    class='font-bold hover:underline'
    @route='where.activity.choose'
    @model={{@zipcode}}
  >
    {{or @verb '__________'}}
  </LinkTo><br />
  in
  <LinkTo
    class='font-bold hover:underline'
    @route='where.choose'
    disabled={{not @zipcode}}
  >
    {{or @zipcode '__________'}}
  </LinkTo>
</h1>