<Navbar />
<div class='text-center my-16 mx-auto max-w-md'>
  <Alert @level='danger'>
    <div class='flex'>
      <div class='text-5xl shrink'>😭</div>
      <Alert @level='danger'>
        <h1 class='font-bold text-lg'>Whoops something went wrong</h1>
        <p class='mb-4'>Sorry for the inconvenience. We're tracking this and
          will update soon!</p>
        <code class='text-xs mt-4'>{{this.model}}</code>
      </Alert>
      <div class='text-5xl shrink'>😭</div>
    </div>
  </Alert>
  <p class='my-8'>
    <LinkTo
      class='text-green-darkest dark:text-green-lightest border-2 border-transparent hover:border-green-darkest dark:hover:border-green-lightest transition font-bold underline underline-offset-4 p-2 block'
      @route='home'
    >Go home</LinkTo>
  </p>
</div>