<div class='text-center mx-auto py-8 relative'>
  <WhereToTitle />
</div>

<div class='text-center'>
  <h1 class='font-bold text-red-300'>Whoops something went wrong</h1>
  <p class='mb-4'>{{this.model}}</p>

  <LinkTo class='p-2 bg-blue-main text-black' @route='where.choose'>Start over</LinkTo>
</div>