<div class='text-center mx-auto py-8 relative'>
  <WhereToTitle />
</div>

<div class='mx-auto max-w-md'>
  <Alert @level='danger' class='mb-4'>
    <h1 class='font-bold'>Whoops something went wrong</h1>

    <p class='mb-4'>Sorry for the inconvenience. We're tracking this and will
      update soon!</p>
    <code class='text-xs mt-4'>{{this.model}}</code>
  </Alert>
  <div class='mt-8'>
    <LinkTo class='p-2 bg-blue-bright text-black' @route='where.choose'>Start
      over</LinkTo>
  </div>
</div>